 @model GraduateDesignBk.Models.UserViewModel

@{
    ViewBag.Title = "UserDetail";
}

<div class="row">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">个人中心</a></li>
        <li role="presentation"><a href="#">帖子</a></li>
        <li role="presentation"><a href="#">文件</a></li>
        <li role="presentation"><a href="#">消息</a></li>
        <li role="presentation"><a href="#">学生</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-2">
        <img src="/img/default.png" style="width:100%" class="img-responsive" alt="Alternate Text" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-6" style="text-align:center">
        <p> 姓名：孔龙飞</p>
        <p> 姓名：孔龙飞</p>
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        反对方答复
    </div>
    <div class="col-md-6">
        功夫功夫服
    </div>
</div>
