@model GraduateDesignBk.Models.Counts
@{
    ViewBag.Title = "_NavSelfPartial";
    string subType = "";
    if (Html.ViewData["self"].ToString() == "教师")
    {
        subType = "学生";
    }
    else
    {
        subType = "教师";
    }
}

<div class="row">
    <ul id="nav" class="nav nav-tabs nav-justified">
        <li role="presentation">
            <a href="/Account/SelfCenter/?Id=@Html.ViewData["Id"]&userType=@Html.ViewData["self"]"><span>个人中心</span></a>
        </li>
        <li role="presentation">
            <a href="/Account/stuOrTeachers/?Id=@Html.ViewData["Id"]&userType=@Html.ViewData["self"]&subType=@subType">
                <span> @subType </span> (@Model.stuOrNum)
            </a>
        </li>
    </ul>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $.each($("#nav li"), function (i, n) {
        var title = $(this).children().children("span").html();
        var otitle = "@Html.ViewData["nav_title"]";
        //  alert(title)
        //alert(otitle)
        if (title.trim() == otitle) {
            $(this).addClass("active");
        }
    });
</script>

