@{
    ViewBag.Title = "_SuccessView";
}

<h2></h2>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">操作结果</h4>
        </div>
        <div class="modal-body">
            <h1 style="color:#4cff00"> 操作成功</h1>
        </div>
        <div class="col-lg-offset-1  ">
            @Html.ActionLink("确 定","Index",null,new { @class="btn btn-default"})
        </div>
    </div>
</div>
