
.aw-content-wrap {
    margin: 0 15px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.aw-main-content {
    padding: 0 0 20px;
    border-right: 1px solid #e6e6e6;
}
.aw-topic-bar {
    margin: 20px 20px 0;
}
.aw-topic-bar .topic-tag {
    float: left;
    margin: 0 10px 10px 0;
}
.aw-question-detail {
    margin-bottom: 30px;
    padding: 10px 20px 0;
}
.aw-question-detail>.mod-head {
    position: relative;
    padding-bottom: 14px;
    border-bottom: 1px solid #f5f5f5;
}
.aw-question-detail .content {
    padding: 10px 0;
}
.markitup-box {
    position: relative;
    z-index: 1;
    line-height: 180%;
    word-wrap: break-word!important;
}
.aw-question-detail .meta {
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.aw-question-detail .meta>span, .aw-question-detail .meta>a, .aw-question-detail .meta>div {
    margin-right: 15px;
}
.text-color-999, .aw-placeholder, .category dl dd span, .aw-search-dropdown-list li > span, .aw-search-dropdown-list li.question a span, .aw-side-bar dd, .aw-question-comment-box .aw-mod-head .aw-notopic-sort, .aw-question-edit .aw-mod-body .pull-right, .aw-common-list .aw-question-replay-count, .aw-question-tags a, .aw-feed-list .aw-upload-file-list a, .aw-agree-by .aw-agree-by-show, .aw-agree-by .aw-user-name, .aw-my-notifications .aw-mod-head h2 span, .aw-my-notifications .aw-mod-body ul li.active span, .aw-publish-title-dropdown p span, .aw-side-bar-mod-publish .aw-side-bar-mod-body p, .aw-side-bar-mod-topic-edit .aw-side-bar-mod-body p, .aw-new-message-tips .aw-mod-head .pull-right, .aw-new-message-tips-close span, .aw-mod-search-result .aw-search-result-tags, .aw-publish-box .aw-publish-box-supplement, .aw-first-login .aw-mod-head ul li.active em, .aw-first-login .aw-complete-data .aw-complete-data-img span {
    color: #999;
}
.text-color-999 {
    font-size: 12px;
    color: #999;
}
aw-question-detail .aw-comment-box, .aw-question-detail .aw-invite-box, .aw-question-detail .aw-question-related-box {
    margin: 10px 0;
}
.aw-invite-box {
    position: relative;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.aw-question-related-box {
    position: relative;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.aw-invite-box .mod-head {
    padding: 15px;
    background-color: #fafafa;
}
.aw-invite-box .mod-head .search-box {
    position: relative;
    margin: 0 10px 0 0;
}
.aw-invite-box .mod-head input {
    width: 240px;
}
.aw-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 105%;
    z-index: 9999;
    width: 100%;
    min-width: 110px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.aw-dropdown-list li.user a img, .aw-question-tags, .aw-mod.topic-nav ul>li>p a, .aw-mod.topic-nav ul>li>a, .aw-border-radius-5, .aw-border-radius-5 img, .aw-load-more-content, .aw-user-name img, .aw-topic-name img, .aw-topic-name span, .aw-topic-img img, .aw-dropdown-menu img, .aw-login-register a img, .aw-login-register .aw-user-head img, .aw-dropdown, .category dl dt img, .category .span12>ul>li, .aw-mod.side-nav ul li a, .topic-edit-notes li, .aw-notopic-sort, .aw-comment-box, .aw-topic-detail-title .mod-body img, .aw-topic-search, .aw-mod-topic-edit-box .mod-head .img, .aw-mod-topic-edit-box .mod-head .img span, .aw-inbox-read .mod-footer li .aw-item, .aw-inbox .mod-footer li .aw-user-img img, .aw-invite-list ul li img, .aw-mod-search-result .aw-item .aw-user-img img, .aw-mod-search-result .aw-item .aw-topic-img img, .aw-mod-search-result .aw-search-result-tags, .aw-file-uploader dl, .aw-card-tips, .aw-card-tips .mod-head .img img, .aw-first-login .aw-complete-data .side-bar img, .aw-first-login .aw-card-box-list .aw-topic-img img, .aw-first-login .aw-card-box-list .img img, .aw-first-login .aw-card-box-list li>span, .aw-replay-box .mod-body, .aw-publish-box .aw-publish-title .dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .aw-publish-title.active input, #aw-loading, .aw-user-nav>a img {
    border-radius: 4px;
}
.aw-invite-box .mod-head .icon-search {
    position: absolute;
    right: 10px;
    top: 10px;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.aw-invite-box .mod-head .invite-list {
    max-width: 435px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    margin: 0;
    font-size: 12px;
}
.aw-question-related-box .mod-body input {
    width: 90%;
    margin-right: 10px;
}
.aw-nav-tabs {
    position: relative;
    z-index: 1;
    min-height: 63px;
    min-height: 32px\9;
    margin: 0;
    padding: 30px 20px 0;
    border-color: #e6e6e6;
}
.aw-nav-tabs h2 {
    position: absolute;
    top: 16px;
    left: 20px;
    margin: 0;
    font-size: 20px;
}
.aw-common-list .aw-question-replay-count em, .markItUpPreviewFrame .title, h1, h2, h3 {
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-size: 100%;
    line-height: 1.7;
}
.aw-feed-list {
    padding: 0 20px;
}
.aw-feed-list .aw-item {
    position: relative;
    padding: 14px 0;
    border-bottom: 1px solid #F5F5F5;
}

.aw-load-more-content {
    position: relative;
    overflow: hidden;
    height: 27px;
    line-height: 34px;
    margin: -4px 12px 0px;    /*修改了参数 fay*/
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
    color: #999;
}
.aw-dropdown-list li.user a img, .aw-question-tags, .aw-mod.topic-nav ul>li>p a, .aw-mod.topic-nav ul>li>a, .aw-border-radius-5, .aw-border-radius-5 img, .aw-load-more-content, .aw-user-name img, .aw-topic-name img, .aw-topic-name span, .aw-topic-img img, .aw-dropdown-menu img, .aw-login-register a img, .aw-login-register .aw-user-head img, .aw-dropdown, .category dl dt img, .category .span12>ul>li, .aw-mod.side-nav ul li a, .topic-edit-notes li, .aw-notopic-sort, .aw-comment-box, .aw-topic-detail-title .mod-body img, .aw-topic-search, .aw-mod-topic-edit-box .mod-head .img, .aw-mod-topic-edit-box .mod-head .img span, .aw-inbox-read .mod-footer li .aw-item, .aw-inbox .mod-footer li .aw-user-img img, .aw-invite-list ul li img, .aw-mod-search-result .aw-item .aw-user-img img, .aw-mod-search-result .aw-item .aw-topic-img img, .aw-mod-search-result .aw-search-result-tags, .aw-file-uploader dl, .aw-card-tips, .aw-card-tips .mod-head .img img, .aw-first-login .aw-complete-data .side-bar img, .aw-first-login .aw-card-box-list .aw-topic-img img, .aw-first-login .aw-card-box-list .img img, .aw-first-login .aw-card-box-list li>span, .aw-replay-box .mod-body, .aw-publish-box .aw-publish-title .dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .aw-publish-title.active input, #aw-loading, .aw-user-nav>a img {
    border-radius: 4px;
}
.aw-replay-box {
    margin: 20px 0 0;
    padding: 0 20px;
}
.aw-side-bar {
    margin-left: -1px;
    padding: 20px;
    border-left: 1px solid #e6e6e6;
}
.aw-side-bar .aw-mod:first-child {
    padding-top: 0;
    border-top: none;
}
.aw-side-bar .aw-mod {
    padding: 20px 0;
    border-top: 1px solid #E2E2E2;
}
.aw-side-bar .aw-mod .mod-head {
    padding-bottom: 5px;
}
.aw-side-bar .aw-mod dl {
    height: auto;
    overflow: hidden;
    margin: 10px 0;
}
.aw-side-bar .aw-mod dt, .aw-side-bar .aw-mod dt img {
    width: 32px;
    height: 32px;
}
.aw-dropdown-list li.user a img, .aw-question-tags, .aw-mod.topic-nav ul>li>p a, .aw-mod.topic-nav ul>li>a, .aw-border-radius-5, .aw-border-radius-5 img, .aw-load-more-content, .aw-user-name img, .aw-topic-name img, .aw-topic-name span, .aw-topic-img img, .aw-dropdown-menu img, .aw-login-register a img, .aw-login-register .aw-user-head img, .aw-dropdown, .category dl dt img, .category .span12>ul>li, .aw-mod.side-nav ul li a, .topic-edit-notes li, .aw-notopic-sort, .aw-comment-box, .aw-topic-detail-title .mod-body img, .aw-topic-search, .aw-mod-topic-edit-box .mod-head .img, .aw-mod-topic-edit-box .mod-head .img span, .aw-inbox-read .mod-footer li .aw-item, .aw-inbox .mod-footer li .aw-user-img img, .aw-invite-list ul li img, .aw-mod-search-result .aw-item .aw-user-img img, .aw-mod-search-result .aw-item .aw-topic-img img, .aw-mod-search-result .aw-search-result-tags, .aw-file-uploader dl, .aw-card-tips, .aw-card-tips .mod-head .img img, .aw-first-login .aw-complete-data .side-bar img, .aw-first-login .aw-card-box-list .aw-topic-img img, .aw-first-login .aw-card-box-list .img img, .aw-first-login .aw-card-box-list li>span, .aw-replay-box .mod-body, .aw-publish-box .aw-publish-title .dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .aw-publish-title.active input, #aw-loading, .aw-user-nav>a img {
    border-radius: 4px;
}
.aw-user-name, .aw-topic-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.font-size-12 {
    font-size: 12px;
}
.aw-side-bar .aw-mod {
    padding: 20px 0;
    border-top: 1px solid #E2E2E2;
}
.aw-feed-list .aw-item .aw-user-img img {
    width: 40px;
    height: 40px;
}
.aw-dropdown-list li.user a img, .aw-question-tags, .aw-mod.topic-nav ul>li>p a, .aw-mod.topic-nav ul>li>a, .aw-border-radius-5, .aw-border-radius-5 img, .aw-load-more-content, .aw-user-name img, .aw-topic-name img, .aw-topic-name span, .aw-topic-img img, .aw-dropdown-menu img, .aw-login-register a img, .aw-login-register .aw-user-head img, .aw-dropdown, .category dl dt img, .category .span12>ul>li, .aw-mod.side-nav ul li a, .topic-edit-notes li, .aw-notopic-sort, .aw-comment-box, .aw-topic-detail-title .mod-body img, .aw-topic-search, .aw-mod-topic-edit-box .mod-head .img, .aw-mod-topic-edit-box .mod-head .img span, .aw-inbox-read .mod-footer li .aw-item, .aw-inbox .mod-footer li .aw-user-img img, .aw-invite-list ul li img, .aw-mod-search-result .aw-item .aw-user-img img, .aw-mod-search-result .aw-item .aw-topic-img img, .aw-mod-search-result .aw-search-result-tags, .aw-file-uploader dl, .aw-card-tips, .aw-card-tips .mod-head .img img, .aw-first-login .aw-complete-data .side-bar img, .aw-first-login .aw-card-box-list .aw-topic-img img, .aw-first-login .aw-card-box-list .img img, .aw-first-login .aw-card-box-list li>span, .aw-replay-box .mod-body, .aw-publish-box .aw-publish-title .dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .aw-publish-title.active input, #aw-loading, .aw-user-nav>a img {
    border-radius: 4px;
}
.aw-feed-list .aw-item .aw-user-img {
    position: absolute;
    left: 0;
    top: 3px;
    width: 40px;
    height: 40px;
}
.aw-feed-list .aw-item .mod-head, .aw-feed-list .aw-item .mod-body, .aw-feed-list .aw-item .mod-footer {
    position: relative;
    width: 100%;
    padding-left: 50px;
}
.aw-side-bar .aw-mod h3 {
    margin-bottom: 0;
}
.aw-user-name, .aw-topic-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.aw-side-bar .aw-mod ul li {
    padding: 3px 0;
}
.aw-question-detail .mod-head h1 {
    max-width: 500px;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}
.markitup-box {
    position: relative;
    z-index: 1;
    line-height: 180%;
    word-wrap: break-word!important;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.aw-dropdown.shareout {
    top: 100%;
    width: 130px;
}
.aw-dropdown.pull-right {
    left: auto;
    right: 0;
}
.aw-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 105%;
    z-index: 9999;
    width: 100%;
    min-width: 110px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.aw-dropdown .aw-dropdown-list li:first-child {
    border-top: none;
}
.aw-dropdown .aw-dropdown-list li {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 10px!important;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
}
.aw-side-bar .aw-mod dd {
    width: 155px;
    font-size: 12px;
}
.aw-feed-list .meta i, .aw-question-detail .meta i {
    font-size: 16px;
    vertical-align: -2px;
}
.icon-wechat, .icon-phone, .icon-reply, .icon-prestige, .icon-score, .icon-agree, .icon-comment, .icon-share, .icon-edit, .icon-invite, .icon-report, .icon-fold, .icon-best, .icon-favor, .icon-thank, .icon-cog, .icon-off, .icon-down, .icon-mobile-phone, .icon-envelope, .icon-check, .icon-attach {
    margin-right: 2px;
    color: #999;
    font-size: 16px;
}
.aw-feed-list .operate {
    display: inline-block;
    float: left;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.aw-feed-list .operate a.disabled {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}
.aw-feed-list .operate a.agree {
    border-radius: 4px 0 0 4px;
}
.aw-feed-list .operate a {
    float: left;
    height: 28px;
    padding: 0 10px;
    color: #999;
    line-height: 28px;
    text-decoration: none;
}
.aw-feed-list .operate b {
    font-weight: 500;
}
.aw-feed-list .operate+.operate {
    margin-left: 5px;
}
.aw-feed-list .operate .aw-add-comment:hover, .aw-feed-list .operate .aw-add-comment.active {
    background-color: #F4726D;
    color: #fff;
    border-radius: 4px;
}
.aw-comment-box {
    position: relative;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.aw-comment-box .aw-comment-list {
    padding: 15px 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
.aw-comment-box .aw-comment-list .aw-padding10 {
    padding-top: 0;
}
.aw-padding10 {
    padding: 10px;
}
.aw-comment-box .aw-comment-list .aw-padding10 {
    padding-top: 0;
}
.aw-padding10 {
    padding: 10px;
}
.aw-comment-list li:first-child {
    padding-top: 0;
}
.aw-dropdown-menu li:first-child, .dropdown-menu li.first, .aw-comment-list li:first-child, .aw-edit-comment-box .aw-file-upload-box, .aw-li-border-bottom li:first-child {
    border-top: none;
}
.aw-comment-list li {
    position: relative;
    padding: 15px 0 15px 42px;
    border-top: 1px solid #f5f5f5;
    line-height: 22px;
}
.aw-comment-list li>.aw-user-name {
    position: absolute;
    left: 0;
}
.aw-feed-list .aw-user-name {
    color: #666;
}
.aw-user-name, .aw-topic-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.aw-comment-list li>.aw-user-name img {
    width: 32px;
    height: 32px;
}
.aw-feed-list .aw-user-name {
    color: #666;
}
.aw-user-name, .aw-topic-name {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.aw-feed-list .aw-item h4, .aw-feed-list .aw-item p {
    margin: 0;
}
.aw-comment-list li  {
	font-size: 12px;
    margin: 0;
    word-break: break-all;
}

