@{
    ViewBag.Title = "BarDetail";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    bool hasPower =  User.IsInRole("管理员")||User.IsInRole("教师");
}
<link href="~/Content/questionDetail.css" rel="stylesheet" />
<div id="Detail" class="aw-content-wrap clearfix" style="margin: 0 -14px">
    <div class="col-sm-12 col-md-8 aw-main-content">
        <!-- 话题推荐bar -->
        <!-- 话题推荐bar -->
        <!-- 话题bar -->
        <!-- end 话题bar -->
        <div class="aw-mod aw-question-detail aw-item">
            <div class="mod-head" style="margin-top: 20px;">
                <h1 id="Title" style="font-weight:bold">大家毕业设计写的怎么样啦？</h1>
            </div>
            <div class="mod-body">
                <div id="Description" class="content markitup-box">
                    我才刚开始写，听说下个星期五之前要交
                    求大神带我飞，确实太难写了，你们是怎么写的
                </div>
            </div>
            <div class="mod-footer">
                <div class="meta">
                    <span id="RaiseQuesTime" class="text-color-999">2015-07-26</span>
                    <div class="pull-right more-operate">
                        <a href="#ct1" data-id="1493" data-type="question" class="aw-add-comment text-color-999 " data-comment-count="0" data-first-click="hide">
                            <i class="glyphicon glyphicon-edit" style="vertical-align: sub;"></i>
                            添加评论
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-mod aw-question-comment">
            <div class="mod-head">
                <div class="nav nav-tabs aw-nav-tabs active">
                    <h2 id="ansNum" class="hidden-xs">9 个回复</h2>
                </div>
            </div>
            <div id="AnsList" class="mod-body aw-feed-list">
            </div>
            <div class="mod-footer">
                <div class="aw-load-more-content">
                    <a class="collapsed aw-load-more-content" role="button" data-toggle="collapse" href="#collapsemore" aria-expanded="false" aria-controls="collapsemore">展开全部评论</a>
                </div>
                <div class="aw-feed-list collapse" id="collapsemore">
                </div>
            </div>
        </div>
        <!-- end 问题详细模块 -->
        <!-- 回复编辑器 -->
        <div class="aw-mod aw-replay-box question" id="ct1">
            <a name="answer_form"></a>
            @if (Request.IsAuthenticated)
            {
                <div id="com">
                    <div class="form-group">
                        <label for="Comment"></label>
                        <textarea style="width:100%;height:125px" name="Comment" id="Comment" class="form-control" placeholder="评论..."></textarea>
                    </div>
                    <div>
                        <a id="CommentBtn" href="javascript:CommentU()" class="btn btn-default" style="float:right;margin:10px 0px;background-color: #287EBB; color:#FFF" border-color #287EBB;>评论</a>
                    </div>
                </div>
            }
            else
            {
                <div style="border: 1px solid;border-color: #aaa #ddd #ddd #aaa;    line-height: 100px;">
                    <p align="center">
                        要评论问题请先
                        <a href="javascript:document.getElementById('LoginModelBtn').click();" style="color: #287EBB;">登录</a>
                    </p>
                </div>
            }

        </div>
        <!-- end 回复编辑器 -->
    </div>
    <!-- 侧边栏 -->
    <div class="col-md-4 aw-side-bar">
        <!-- 发起人 -->
        <div class="aw-mod">
            <div class="mod-head">
                <h3>发起人</h3>
            </div>
            <div class="mod-body">
                <dl>
                    <dt class="pull-left aw-border-radius-5">
                        <a href="http://wenda.golaravel.com/people/linlin"><img id="AuthorImg" alt="琳琳" src="http://wenda.golaravel.com/uploads/avatar/000/00/17/30_avatar_mid.jpg" /></a>
                    </dt>
                    <dd class="pull-left" style="margin-left: 10px;">
                        <a id="AuthorName" class="aw-user-name" href="http://wenda.golaravel.com/people/linlin" data-id="1730">杨雨欣</a>
                        <p></p>
                    </dd>
                </dl>
            </div>
        </div>
        <!-- end 发起人 -->
        <!-- 相关问题 -->
        <div class="aw-mod">
            <div class="mod-head">
                <h3>相关问题</h3>
            </div>
            <div class="mod-body font-size-12">
                <ul id="RelativeQues" style="margin: 0;padding: 0;list-style: none;">
                    <li>
                        <a href="http://wenda.golaravel.com/question/1338">毕业设计到底怎么写？</a>
                    </li>
                    <li>
                        <a href="http://wenda.golaravel.com/question/4">毕业设计格式是怎样的？</a>
                    </li>
                    <li>
                        <a href="http://wenda.golaravel.com/question/18">毕业设计至少写多少字？</a>
                    </li>
                    <li>
                        <a href="http://wenda.golaravel.com/question/1048">毕业设计高分攻略</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end 相关问题 -->
        <!-- 问题状态 -->
        <div class="aw-mod question-status">
            <div class="mod-head">
                <h3>问题状态</h3>
            </div>
            <div class="mod-body">
                <ul style="margin: 0;padding: 0;list-style: none;">
                    @*<li>
                        最近评论:
                        <span class="aw-text-color-blue">2016-01-31 15:23</span>
                    </li>*@
                    <li>
                        浏览:
                        <span id="ReadTimes" class="aw-text-color-blue">1395</span>
                    </li>
                    <li>
                        解决状态:
                        <span id="Solved" class="aw-text-color-blue">1395</span>
                    </li>
                    <li>
                        赞:
                        <span id="Likes" class="aw-text-color-blue">1395</span>
                    </li>
                    <li>
                        评论数:
                        <span id="CommentNum" class="aw-text-color-blue">1395</span>
                    </li>
                    <li>
                        回复数:
                        <span id="ReplyNum" class="aw-text-color-blue">1395</span>
                    </li>
                    <li class="aw-border-radius-5" id="focus_users"></li>
                </ul>
            </div>
        </div>
        <!-- end 问题状态 -->
    </div>
    <!-- end 侧边栏 -->
</div>

<script>
    function AnsLike(AID) {
        $.ajax({
            url: "/Bar/AddAnsLike",
            type: "POST",
            data: { "AID": AID },
            success: function (data) {
                alert(3)
                var aid = $("#" + AID + 'likeans');
                if (data == "addsuccess") {
                    // alert($("#" + QID + id).html())
                    aid.html(parseInt(aid.html()) + 1)
                } else if (data == "delsuccess") {
                    //alert($("#" + QID + id).html())
                    aid.html(parseInt(aid.html()) - 1)
                }
                else {
                    eval(data)
                }
            }
        });
    }

    function DeleteAns(AID) {
        $.ajax({
            url: "/Bar/DeleteAnswer",
            type: "POST",
            data: { "AID": AID },
            success: function (data) {
                var status = data.split('|');
                if (data == "error") {
                    alert("删除评论不存在哎！")
                } else if(status[0]=="success")
                    if(status[1]=="1"){
                        alert('删除评论及该评论下的所有回复成功')
                        $("#answer_list_" + AID).hide()
                    }else if(status[1]=="0"){
                        alert('删除回复成功')
                        $("#ulback" + AID).hide()
                    }
                }
        });
    }
    function CommentU() {
        $("#CommentBtn").addClass("disabled");
        alert(CKEDITOR.instances.Comment.getData())
        $.ajax({
            url: "/Bar/Comment",
            type: "post",
            data: { "QID": '@ViewBag.QID', "ansDescription": CKEDITOR.instances.Comment.getData() },
            success: function (data) {
                $("#CommentBtn").removeClass("disabled")
                var logined = data.split('|');
                if (logined[0] == "logined") {
                    alert(logined[1]);
                    if ("评论成功！" == logined[1]) {
                        location.reload();
                    }
                } else {
                    eval(logined[0]);
                }
            }
        });
    }

    function Reply(AID, f) {
        // alert("#Reply" + AID)
        //alert($("#Reply" + AID).val())
        $("#btn" + AID).addClass("disabled")
        alert(f)
        var reDescription = eval("CKEDITOR.instances.Reply" + f + ".getData()");
        $.ajax({
            url: "/Bar/Reply",
            type: "POST",
            data: { "AID": AID, "reDescription": reDescription },
            success: function (data) {
                $("#btn" + AID).removeClass("disabled")
                //      alert(data);
                var logined = data.split('|');
                //    alert(logined[0]);
                if (logined[0] == "logined") {
                    alert(logined[1]);
                    if (logined[1] == "回复成功") {
                        location.reload()
                    }
                } else {
                    eval(logined[0]);
                }
            }
        });
    }

    $(function ($) {
        $.ajax({
            url: "/Bar/RelativeQues",
            data: { "QID": '@ViewBag.QID' },
            type: "POST",
            success: function (data) {
                if (data != null) {
                    $("#RelativeQues").empty();
                    for (var i = 0; i < data.length; i++) {
                        var rli = '<li><a href="/Home/BarDetail/' + data[i].QID + '">' + data[i].Title + '</a></li>';
                        $("#RelativeQues").append(rli);
                    }
                }
            }
        });
    });
    $(function ($) {
        $.post("/Bar/QDetail", { QID: '@ViewBag.QID' }, function (data) {
            var totalAnswer = data.Bars.fbars.length;
            //alert(totalAnswer)
            if (data.Bars.pbars.length == 0) {
                $("#Detail").html('<h1 style="font-weight:bold">问题不存在!</h1>');
                return;
            }
            $("#ansNum").html(totalAnswer + "个评论")
            $("#Title").html(data.Bars.pbars[0].Title)
            $("#Description").html(data.Bars.pbars[0].Description)
            //var raisetime = new Date(parseInt(data.Bars.pbars[0].RaiseQuesTime.replace(/\D/igm, ""))).toLocaleString()
            var raisetime = data.Bars.pbars[0].RaiseQuesTime;
            $("#RaiseQuesTime").html(raisetime)
            $("#AuthorImg").attr("src", data.Bars.pbars[0].FromPhoto);
            $("#AuthorName").html(data.Bars.pbars[0].FromName);
            $("#ReadTimes").html(data.Bars.pbars[0].ReadTimes)
            $("#CommentNum").html(data.Bars.fbars.length)
            $("#ReplyNum").html(data.Bars.sbars.length)
            $("#Likes").html(data.Bars.pbars[0].Likes)
            $("#Solved").html(data.Bars.pbars[0].Solved==true?"已解决":"未解决")
            for (var f = 0; f < totalAnswer; f++) {
                //var anstime = new Date(parseInt(data.Bars.fbars[f].AnswerQuesTime.replace(/\D/igm, ""))).toLocaleString();
                var anstime = data.Bars.fbars[f].AnswerQuesTime;

                //  alert($("#AnsList").html());
                var listStart =
               '<div  onmouseover="$(' + "'" + '#replytext' + f + "'" + ').show()" onmouseout="$(' + "'" + '#replytext' + f + "'" + ').hide()"  class="aw-item" uninterested_count="0" force_fold="0" id="answer_list_' + data.Bars.fbars[f].AID + '">' +
               '<div class="mod-head">' +
                        '<a class="anchor" name="answer_2356"></a>' +
                        '<!-- 用户头像 -->' +
                        '<a class="aw-user-img aw-border-radius-5 pull-right" href="http://wenda.golaravel.com/people/linlin" data-id="1730"><img src="' + data.Bars.fbars[f].FromPhoto + '" alt="' + data.Bars.fbars[f].FromName + '" /></a>' +
                    '<div class="title">' +
                        '<p>' +
                            '<a class="aw-user-name" href="http://wenda.golaravel.com/people/linlin" data-id="1730">' + data.Bars.fbars[f].FromName + '</a>' +
                        '</p>' +
                    '</div>' +
                '</div>' +
                    '<div class="mod-body clearfix">' +
                        '<!-- 评论内容 -->' +
                        '<div class="markitup-box">' +
                            data.Bars.fbars[f].Description +
                        '</div><!-- end 评论内容 -->' +
                 '</div>' +
                    '<div class="mod-footer">' +
                        '<!-- 社交操作 -->' +
                        '<div class="meta clearfix">' +
                            '<!-- 投票栏 -->' +
                            '<span class="operate">' +
                                '<a href="javascript:AnsLike(' + "'" + data.Bars.fbars[f].AID + "'" + ')" class="aw-add-comment"><i data-placement="right" title="" data-toggle="tooltip" class="glyphicon glyphicon-thumbs-up" data-original-title="赞同回复"></i> <b id="' + data.Bars.fbars[f].AID + 'likeans" class="count">' + data.Bars.fbars[f].Likes + '</b></a>' +
                            '</span>' +
                            '<!-- end 投票栏 -->' +
                            '<span class="operate">' +
                                 '<a class="aw-add-comment" role="button" data-toggle="collapse" href="#collapse' + data.Bars.fbars[f].AID + '" aria-expanded="false" aria-controls="collapse' + data.Bars.fbars[f].AID + '"><i class="glyphicon glyphicon-comment"></i>' + data.Bars.fbars[f].CommentNum + '</a>' +
                            '</span>' +
                            @if (hasPower)
                            {
                                @:'<span class="operate">' +
                                     @:'<a class="aw-add-comment" onclick="return confirm('+"'"+'确认要删除该评论以及该评论下的所有回复？'+"'"+')"  href="javascript:DeleteAns(' + "'" + data.Bars.fbars[f].AID + "'" + ')"><i class="glyphicon glyphicon-remove-circle"></i></a>' +
                                @:'</span>' +
                            }
                            '<span class="text-color-999 pull-right">' + anstime + '</span>' +
                        '</div>' +
                        '<div class="collapse in" id="collapse' + data.Bars.fbars[f].AID + '">' +
                        '<div class="aw-comment-box" id="aw-comment-box-answer-' + data.Bars.fbars[f].AID + '" style="display: block;">' +
                            '<div class="aw-comment-list">' +
                                '<ul id="ulback' + data.Bars.fbars[f].AID + '"  style="margin: 0;padding: 0;list-style: none;">' +
                                '</ul>' +
                            '</div>' +
                        '</div>';
                var listMid =
                    '<div style="display:none" id="replytext'+f+'" class="input-group aw-comment-box">' +
                    '<textarea id="Reply' + f + '" placeholder="评论" style="width: 100%;border-bottom-left-radius: 4px;"></textarea>' +
                    '<span class="input-group-btn">' +
                    '<button id="btn' + data.Bars.fbars[f].AID + '" onclick="Reply(' + "'" + data.Bars.fbars[f].AID + "'," + f + ')" class="btn btn-default" type="button" style="border-bottom-right-radius: 4px;padding:74px 11px;">发表</button>' +
                    '</span>' +
                    '<div>';

                var listEnd = '</div></div></div>';
                @if (Request.IsAuthenticated)
                {
                    @:list = listStart + listMid + listEnd;
                    @:f < 10 ? $("#AnsList").append(list) : $("#collapsemore").append(list);
                    @:_editor = CKEDITOR.replace('Reply' + f,
                    @:{
                      @:extraPlugins: 'codesnippet',
                      @:extraPlugins:'uploadimage',
                      @:uploadUrl: '/uploader/upload.php',
                      @:codeSnippet_theme: 'monokai_sublime',
                      @:height: '119px',
                      @:toolbarCanCollapse: true,
                      @:smiley_columns: 8,
                      @:smiley_images: [
                            @:'0.png', '1.png', '2.png', '3.png'
                      @:],
                      @:customConfig: 'custumconfig.js',
                      @:});
                      @:_editor.on('instanceReady', function(ev) { ev.editor.execCommand('toolbarCollapse'); });
                }
                else
                {
                     @:list = listStart + listEnd;
                     @:f < 10 ? $("#AnsList").append(list) : $("#collapsemore").append(list);
               }
                for (var s = 0; s < data.Bars.sbars.length; s++) {
                    if (data.Bars.sbars[s].FAID == data.Bars.fbars[f].AID) {
                        var ansbacktime = data.Bars.sbars[s].AnswerQuesTime;
                        //var ansbacktime = new Date(parseInt(data.Bars.sbars[s].AnswerQuesTime.replace(/\D/igm, ""))).toLocaleString()
                        var li =
                        '<li id="ulback' + data.Bars.sbars[s].AID + '">' +
                           '<a  class="aw-user-name" href="http://wenda.golaravel.com/people/Alano" data-id="1732"><img src="' + data.Bars.sbars[s].FromPhoto + '" alt=""></a>' +
                           '<div >' +
                               '<a href="http://wenda.golaravel.com/people/Alano" class="aw-user-name author" data-id="1732">' + data.Bars.sbars[s].FromName + '</a>' +
                               '<span> ' + ansbacktime + '</span>' +
                               '<p></p>' +
                               '<span class="operate">' +
                                '<a href="javascript:AnsLike(' + "'" + data.Bars.sbars[s].AID + "'" + ')" class="agree"><i data-placement="right" title="" data-toggle="tooltip" class="glyphicon glyphicon-thumbs-up" data-original-title="赞同回复"></i> <b id="' + data.Bars.sbars[s].AID + 'likeans" class="count">' + data.Bars.sbars[s].Likes + '</b></a>' +
                                '</span>' +
                                 @if (hasPower)
                                 {
                                    @:'<span class="operate">' +
                                    @:'<a class="aw-add-comment" onclick="return confirm(' + "'" + '确认要删除该回复？' + "'" + ')" href="javascript:DeleteAns(' + "'" + data.Bars.sbars[s].AID + "'" + ')"><i class="glyphicon glyphicon-remove-circle"></i></a>' +
                                    @:'</span>' +
                                 }
                               '<p class="clearfix">' + data.Bars.sbars[s].Description + '</p>' +
                           '</div>' +
                       '</li>';
                        $("#ulback" + data.Bars.fbars[f].AID).append(li);
                    }
                }
                if ($("#ulback" + data.Bars.fbars[f].AID).html() == "") {
                    $("#ulback" + data.Bars.fbars[f].AID).append("暂无回复！");
                }
            }
            });
            //------------------------------------------------------------------------------------

            _editor = CKEDITOR.replace('Comment',
            {
                extraPlugins: 'codesnippet',
                codeSnippet_theme: 'monokai_sublime',
                extraPlugins: 'uploadimage',
                uploadUrl: '/uploader/upload.php',
                height: '119px',
                toolbarCanCollapse: true,
                smiley_columns: 8,
                smiley_images: [
                    '0.png', '1.png', '2.png', '3.png'
                ],
                customConfig: 'custumconfig.js',
            });
            _editor.on('instanceReady', function (ev) { ev.editor.execCommand('toolbarCollapse'); });
        });

</script>
