@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "FileCenter";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<style>
    row table, th, td {
			border: none;
		}
    
</style>
<div class="row">
    <div class="col-md-12">
        <div style="width:100%;height:34px;margin-bottom:10px">
            <div class="form-inline pull-right">
                <div style="display:inline">
                    <select id="Stype" style="padding:0;width:86px;height: 34px;border: 1px solid #ccc;border-radius: 4px;">
                        <option value="0">文件名</option>
                        <option value="1">上传者</option>
                        <option value="2">上传时间</option>
                    </select>
                </div>
                <div style="display:inline">
                    <input type="text" id="searchKey" onchange="SearchFD()" onkeyup="SearchFT()" class=" search clearable" placeholder="搜索文件" style="height: 34px;border: 1px solid #ccc;border-radius: 4px;padding: 6px 12px;width: 257px;">
                    <span id="gly" class="faa glyphicon glyphicon-search " aria-hidden="true"></span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-condensed tablefix" >
            <thead>
                <tr>
                    <th style="text-align:center">文件名</th>
                    <th style="width:70px">上传者</th>
                    <th style="width:100px">上传时间</th>
                    <th class="hidden-xs" style="width:70px">下载量</th>
                    <th class="hidden-xs" style="width:70px">大小</th>
                    <th style="width:44px">下载</th>
                </tr>
            </thead>
            <tbody id="fileItems">
                <tr>
                    <td style="max-width:400px">孔设计孔轩志优秀毕业设毕业设计.doc</td>
                    <td>Admin</td>
                    <td>2016-2-13</td>
                    <td>5</td>
                    <td>3m</td>
                    <td>
                        <a href="#">下载</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <nav>
                <ul id="Pages" class="pagination pagination-lg" style="margin:2px"></ul>
            </nav>
        </div>
        <div class="col-sm-6" style="padding-top:10px;text-align:right ">
            总共
            <span id="PageNum"> 100</span>页，当前第
            <span id="CurIndex">10</span>页，一共
            <span id="TotalCount">200</span>条，
            <input type="text" size="1" id="jindex" name="index" value="1" />
            <input type="button" onclick="jumpIndex()" name="name" value="跳转" />
        </div>
    </div>

    <script>
        var CurIndex = 1;
        function SearchFD() {
            // alert($("#searchKey").val())
            CurIndex = 1;
            getFiles(CurIndex);
        }
        function SearchFT() {
            // alert($("#searchKey").val())
            CurIndex = 1;
            getFiles(CurIndex);
        }
        function jumpIndex() {
            var jumpI = $("#jindex").val();
            // alert(jumpI)
            // alert($("#PageNum").html())
            if (!(jumpI < 0 || jumpI > parseInt($("#PageNum").html()))) {
                getFiles($("#jindex").val());
            }
        }
        $(function ($) {
            $('#Stype ').change(function () {
                // alert($(this).children('option:selected').val());
                var p1 = $(this).children('option:selected').val();//这就是selected的值
                $("#searchKey").val(null)
                getFiles(1);
                if (p1 == 2) {
                    $("#searchKey").attr("type", "date");
                    $("#gly").hide()
                } else {
                    $("#searchKey").attr("type", "text");
                    $("#gly").show()
                }
            })
            getFiles(1);
        })

        function getFiles(CurIndex) {
            $.post("/File/List",
                { CurIndex: CurIndex, SearchType: $("#Stype option:selected").val(), SearchString: $("#searchKey").val() },
                  function (data) {
                      ///alert(data.FileItems.length)
                      var fileItems = data.FileItems;
                      var TotalCount = data.page.TotalCount;
                      var CurIndex = data.page.CurIndex;
                      var PageNum = data.page.PageNum;
                      $("#TotalCount").html(TotalCount);
                      $("#CurIndex").html(CurIndex);
                      $("#PageNum").html(PageNum);
                      $("#fileItems").empty();
                      for (var i = 0; i < data.FileItems.length; i++) {
                          var row = '<tr>' +
                              '<td style=""><a href="javascript:getfile(' + "'" + fileItems[i].FID + "'" + ')">' + fileItems[i].Name + '</a></td>' +
                              '<td >' + fileItems[i].FromUID + '</td>' +
                              '<td >' + fileItems[i].UploadTime + '</td>' +
                              '<td class="hidden-xs" id="' + fileItems[i].FID + '">' + fileItems[i].DownloadTimes + '</td>' +
                              '<td class="hidden-xs">' + fileItems[i].Size + '</td>' +
                              '<td ><a href="javascript:getfile(' + "'" + fileItems[i].FID + "'" + ')">下载</a></td>' +
                          '</tr>';
                          $("#fileItems").append(row);
                      }
                      page(PageNum, CurIndex)
                  });
        }
        function getfile(id) {
            $.get("/File/Download", function (data) {
                if (data == "document.getElementById('LoginModelBtn').click();") {
                    eval(data)
                }
                else if (data == "") {
                    window.location.href = "/File/Download/" + id;
                    $("#" + id).html(parseInt($("#" + id).html()) + 1)
                }
            })
        }
        function page(PageNum, CurIndex) {
            var start, end;
            if (PageNum < 6) {
                start = 1; end = PageNum;
            }
            else {
                if (CurIndex <= 3) {
                    start = 1;
                    end = 6;
                }
                else if (CurIndex > 3) {
                    if (CurIndex + 2 < PageNum) {
                        start = CurIndex - 3;
                        end = CurIndex + 2;
                    }
                    else {
                        start = CurIndex - (5 - (PageNum - CurIndex));
                        end = PageNum;
                    }
                }
            }
            $("#Pages").empty();
            //  alert(start + '--' + end)
            var previousDisable = '<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
            var previousable = '<li><a href="javascript:getFiles(' + (CurIndex - 1) + ')" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';
            CurIndex == 1 ? $("#Pages").append(previousDisable) : $("#Pages").append(previousable);
            for (var i = start; i <= end; i++) {
                var li = '<li><a href="javascript:getFiles(' + i + ')">' + i + '</a></li>';
                var liActive = '<li class="active"><a href="javascript:getFiles(' + i + ')">' + i + '</a></li>';
                i == CurIndex ? $("#Pages").append(liActive) : $("#Pages").append(li);
            }
            var NextDisable = '<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
            var Nextable = '<li><a href="javascript:getFiles(' + (CurIndex + 1) + ')" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';
            CurIndex < PageNum ? $("#Pages").append(Nextable) : $("#Pages").append(NextDisable);
        }


    </script>

















